Quizz 1 - part 1

In [2]:
import pandas as pd

In [5]:
radar_df = pd.read_csv('radar.csv')

radar_df.describe()

            number
count  2000.000000
mean   2028.357500
std    1027.594826
min     114.000000
25%    1079.000000
50%    2114.000000
75%    2918.250000
max    3728.000000

In [9]:
# create a new column with the difference between two cells

radar_df['diff'] = radar_df['number'].diff()

#transform positive differences to 1 and negative differences to 0

radar_df['diff'] = radar_df['diff'].apply(lambda x: 1 if x > 0 else 0)

A = radar_df['diff'].value_counts()

A

1    1228
0     772
Name: diff, dtype: int64

Quizz 1 - part 2

In [10]:
#create a new column with the difference between two cells with a period of 3

radar_df['diff3'] = radar_df['number'].diff(periods=3)

radar_df['diff3'] = radar_df['diff3'].apply(lambda x: 1 if x > 0 else 0)

B = radar_df['diff3'].value_counts()

B

1    1257
0     743
Name: diff3, dtype: int64